PORT=3003

RMU_API_CORE_URI=http://localhost:3001/v1
RMU_API_STRATEGIC_URI=http://localhost:3002/v1
RMU_API_ITEMS_URI=http://localhost:3006/v1
RMU_API_ATTACK_URI=http://localhost:8000/v1

RMU_MONGO_TACTICAL_URI=mongodb://admin:admin@localhost:27017/rmu-tactical?authSource=admin

RMU_IAM_JWK_URI=http://localhost:8090/realms/rmu/protocol/openid-connect/certs
RMU_IAM_TOKEN_URI=http://localhost:8090/realms/rmu/protocol/openid-connect/token
RMU_IAM_CLIENT_ID=rmu-client
RMU_IAM_CLIENT_SECRET=changeit

RMU_KAFKA_CLIENT_ID=rmu-api-tactical
RMU_KAFKA_CONSUMER_GROUP_ID=rmu-api-tactical-consumer
RMU_KAFKA_DEFAULT_PARTITIONS=1
RMU_KAFKA_BROKERS=localhost:9092

SONAR_URL=http://192.168.1.107:9000
SONAR_TOKEN=sqp_5f7d34163408fdfb5fa88b5a3f6fe6421c23d6b1
